---
title: Chengming Yi
excerpt: Chengming Yi | Yi成名
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        {% include common-head.html %}
        {% include head-icons-rel.html %}
        <link rel="stylesheet" href="{{ "/assets/css/home.css" | prepend: site.baseurl | replace:'//','/' }}">
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="home" itemscope itemtype="http://schema.org/Person">
            <div class="main">
                <div class="content">
                    <div class="my-photo">
                        <img alt="my photo" src="http://wx2.sinaimg.cn/mw690/a07a3f18gy1fqmmhaw21uj20dw0dw0uk.jpg" />
                    </div>
                    <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
                    {% include components/follow-me.html %}
                    <p><a class="social-link blog" title="Visit my blog[访问我的博客]." itemprop="sameAs" href="/blog" target="_self">Visit My Blog[访问我的博客]</a></p>
                </div>
            </div>
        </div>
        {% if site.isdebug == false %}
            {% include utils/google-analytics.html %}
        {% endif %}
    </body>
</html>
