<script>
	window.Lazyload.js('http://static.tctip.com/tctip-1.0.1.min.js', function() {
        new tctip({
            top: '15%',
            button: {
                id: 1,
                type: '{{ site.tctip.tctip_button_type }}',
            },
            list: [
            {
                type: 'alipay',
                qrImg: '/assets/images/alipay.jpg'
            }, {
                type: 'wechat',
                qrImg: '/assets/images/wechat.jpg'
            }, {
                type: 'bitcoin',
                qrContent: '135pSmx3D1JvcZ4UnSFhTP7ZTqc5CVsEhe'
            }
            ]
		}).init();
    });
</script>
